name: Deploy to EC2 Instance

on:
  push:
    branches:
      - main

jobs:
  setup-hive:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build project
        run: yarn build

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to EC2 Instance
        run: |
          rsync -avz --delete \
            --exclude '.env' --exclude '.env.*' --exclude '*.env' \
            --exclude 'logs' --exclude 'node_modules' --exclude '.github' --exclude '.secrets' --exclude 'app' --exclude 'src' \
            ./ ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:/home/ubuntu/hive

      - name: Restart the server
        run: ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "yarn install &&pm2 restart ecosystem.config.cjs"